a{
    text-decoration: none;
    color: blue;
}

a:hover{
    color: red;
}

body{
    background-color: bisque;
}

.header a{
    padding: 10px 10px;
    
}

#container{
    text-align: center;
    list-style: inside;
}
/*Lasagna*/
.header h1 .red{
    color: red;
}

.header h1 .green{
    color: green;
}

.header h1{
    color: white;
}

/*Swedish meatball sauce*/
.header h1 .blue{
    color: #006AA7;
}

.header h1 .yellow{
    color: gold;
}
/*FriedRice*/
.header .chinesered{
    color: #df2407;
}

.listorder li{
    display: inline;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 10px;
    margin: 50px;
}

.lasagnaGuide h3,
.heading2 h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px solid black;
    border-radius: 10px;
    display: inline-block;
    padding: 0px 15px;
}